@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #fc5d66;
  --secondary-color: #ffc85a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}
/* ////////////////// */
/* Utilities Classes */
/* ////////////////// */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.container-sm {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.btn {
  display: inline-block;
  padding: 1.3rem 2.3rem;
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    background: var(--primary-color);
    color: #fff;
    border-color: #fff;
  }
}

.btn-secondary {
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  color: var(--dark-color);
}
/* text classes */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.section-header {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;

  .section-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.3rem;
    color: var(--dark-color);
  }

  .heading-border {
    width: 64px;
    height: 4px;
    margin: 0 auto 2rem;
    background-color: var(--primary-color);
  }
}
/* card */
.card {
  padding: 2rem 1.7rem;
  box-shadow: 0 4px 12px #ccc;
  width: 100%;
  height: 380px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.display-none {
  display: none;
}
/* NAVBAR */
.navbar {
  background: transparent;
  z-index: 1000;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: background-color 0.5s ease-in-out;

  a {
    font-weight: bold;
    transition: 0.2s ease-in;
  }
  a:hover {
    color: var(--secondary-color);
  }
  .logo {
    width: 80px;
  }
}

/* CHANGE BACKGROUND COLOR OF THE NAVBAR ON SCROLL */
.navbar.navbar-scroll {
  background-color: rgba(235, 77, 85, 0.8);
  backdrop-filter: blur(10px);
}

.navbar .navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Desktop menu */
.main-menu-items {
  display: none;
}

/* Mobile menu */
.mobile-menu-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.4rem 0;
}
.mobile-menu-list {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.95;
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  a {
    font-size: 1.1rem;
    font-weight: 400;
  }
}

.mobile-menu-list.active {
  transform: translateX(0);
}

/* HERO SECTION */
.hero {
  background: url("/images/header-background.jpg") no-repeat center/cover;
  color: #fff;
  overflow-x: hidden;
  position: relative;
  padding: 9rem 1rem 6rem;
}

.hero .hero-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-bottom: 4rem;
}

.hero .hero-text {
  text-align: center;

  h1 {
    font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 700;
  }
  p {
    font-size: 1.2rem;
    margin: 1rem 0 2rem;
    line-height: 1.8;
    font-weight: 400;
  }
}

.hero .hero-image .course {
  max-width: 350px;
}
/* SVG */
.hero {
  .frame-decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
  }
}

/* SECTION LEARN */

.learn .learn-grid {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.learn figure {
  overflow: hidden;

  img {
    transition: 0.25s all ease-in;
    transform-origin: center left;

    &:hover {
      transform: scale(1.1);
      filter: brightness(50%);
    }
  }
}

.learn figure figcaption {
  font-weight: bold;
  text-align: left;
  margin: 0.5rem 0;
}

/* SECTION CHAPTERS */
.chapters {
  .chapters-card-flex {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;

    h3 {
      font-size: 1.25rem;
      font-weight: 700;
      margin: 1rem 0;
    }
    img {
      width: 130px;
      /* margin: 0 auto; */
    }
  }
}

/* SECTION SUMMARY */
.summary {
  padding: 3rem 0 2rem;
  background: var(--light-color);
  color: var(--dark-color);

  .container {
    padding: 0;
  }

  .section-lists {
    background: #fff;
    padding: 2.5rem 1rem;
    margin: 1.5rem 0;

    h3 {
      background: var(--primary-color);
      color: var(--light-color);
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  li {
    padding: 2rem 0;
    border-bottom: 1px solid #dbdbdb;
  }

  li:last-child {
    border-bottom: none;
  }
}

/* SECTION INFO */

.info-flex {
  display: flex;
}

.info-image {
  width: 50%;
}

.info-content {
  flex: 1;
  background: var(--primary-color);
  color: #fff;
  padding: 2rem;

  p {
    margin: 1rem 0 1.5rem;
    font-size: 1rem;
  }
}

.info-list {
  i {
    color: var(--secondary-color);
    margin-right: 0.5rem;
  }

  li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 300;
  }
}

/* SECTION TAKEAWAYS */
.takeaways {
  padding: 3rem 0 1rem;

  .takeaways-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 2rem;
    padding: 4rem 0 0rem;
  }

  .card {
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    gap: 1rem;
    height: 150px;
    width: 100%;
    text-align: left;
  }
}

.takeaways {
  span {
    font-weight: 900;
  }
  i {
    font-size: 2.5rem;
  }
}

/* SECTION DETAILS */
.details {
  padding: 3rem 0;

  .details-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3rem;

    img {
      width: 70%;
      margin: 0 auto;
      flex: 1;
    }
  }

  .details-content .section-header {
    text-align: left;
    flex: 1;

    p {
      margin: 1rem 0 1.5rem;
      font-size: 1rem;
    }
  }
}
/* ############### */
/* MEDIA QUERIES */
/* ############### */

@media (min-width: 768px) {
  .navbar {
    padding: 0.4rem;
  }
  .navbar .logo {
    min-width: 30px;
    margin-right: 0.2rem;
  }
  /* Desktop menu */
  .main-menu-items {
    display: inline;
  }

  .navbar .main-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    i {
      font-size: 1.5rem;
    }
  }

  /* mobile menu */
  .mobile-menu-items {
    display: none;
  }

  /* Summary */
  .summary {
    .container {
      padding: 1rem;
    }

    .section-lists {
      padding: 2.5rem 1.5rem;
    }
  }

  /* Info section */
  .info-image {
    display: inline-flex;
    background: url("/images/audience.jpg") no-repeat left center/cover;
    /* width: 50%; */
  }

  .info-content {
    padding: 3rem;

    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}
@media (min-width: 992px) {
  /* hero section */
  .hero {
    padding: 11.5rem 2rem 11rem;
  }
  .hero .hero-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
  }

  .hero .hero-text {
    text-align: left;
    h1 {
      font-size: 3.5rem;
    }
  }
  .hero .hero-image .course {
    width: 1000px;
  }

  /* chapters section */
  .chapters {
    .chapters-card-flex {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  /* details */
  .details {
    .details-flex {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 4rem;

      img {
        width: 55%;
      }
    }

    .details-content .section-header {
      flex: 2;
    }
  }
}
@media (min-width: 1200px) {
  .details {
    .details-flex {
      img {
        width: 45%;
      }
    }
  }
}
